*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

background-image: url("./assets/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
background-position:center;
background-repeat:no-repeat ;
background-size:cover ;
display: flex;
justify-content: center;
align-items: center;
min-height:100vh ;
color:#ffffff ;
}
.container{

padding:40px ;
background-image:url("./assets/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
border-radius:10px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
button{

padding:20px ;
cursor: pointer;
font-size:50px;
border:none ;
border-radius:19px ;


}
#rock{
background-color: blueviolet;
}
#paper{
    background-color: blue;
}
#scissors{
background-color: yellow;
}
button:hover{
  opacity:0.6 ;  
}
.buttons{
    margin: 30px 0;
    display: flex;
    gap:40px ;
}
p{
  font-weight:bold ;
  margin-bottom:10px;
}
.score span {
    color:aqua;
    cursor: pointer;
}
.ia span{
   color:red ; 
   cursor: pointer;
}
  

